html
	head
		title Jackson Lawrence
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/index.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	body
		.header-container
			#nav
				.nav-content
					.left-container
						.nav-links-container
							p.nav-link-button About
							p.nav-link-button Projects
							p.nav-link-button Resume
					.lets-talk-button
						img.icon(src="/img/envelope-icon-white.svg")
						p Let's Talk
			#jumbo-content-wrap
				h1.large-hello-text Hello
				p.introduction-text I'm Jackson, a Web Developer and UI/UX Designer.
				.view-projects-button
					p View Projects
					img.icon(src="/img/right-arrow-icon-blue.svg")
			#sm-container
				a.social-media-button(target="_blank")
					img.icon(src="/img/github-icon-white.svg" style="width: 30px; height: 30px;")
				a.social-media-button
					img.icon(src="/img/linkedin-icon-white.svg" style="width: 24px; height: 24px; left: calc(50% + 1px);")
				a.social-media-button
					img.icon(src="/img/twitter-icon-white.svg" style="width: 30px; height: 30px; top: calc(50% + 1px); left: calc(50% + 1px);")
	script(src="/js/index.js")
