// #0E0C4E
// #0043FE
// #04E9BA
// #F830A1

body
	background #fff !important

.header-container
	background #0b0f21
	width 100%
	height 100%
	position relative
	#nav
		width 100%
		height 100px
		.nav-content
			width calc(100% - 80px)
			margin 0 auto
			height 100%
			display flex
			justify-content space-between
			align-items center
			.nav-links-container
				display flex
				align-items center
				.nav-link-button
					
			.lets-talk-button
				height 50px
				width 160px
				background #0043FE
				border-radius 1000px
				display flex
				justify-content center
				align-items center
				cursor pointer
				transition background .3s
				&:hover
					background #0438ca
				.icon
					width 30px
					height 30px
					margin 2px 8px 0 0
				p
					color #fff
					font-weight 600
					font-size 0.95em
					letter-spacing .5px
	#sm-container
		top calc(50% - 30px)
		transform translateY(-50%)
		right 50px
		position absolute
		.social-media-button
			width 50px
			height 50px
			margin-bottom 40px
			border-radius 40px
			display block
			background #1b213a
			position relative
			cursor pointer
			transition background .3s
			&:hover
				background #0043fe
			.icon
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
	#jumbo-content-wrap
		position absolute
		top calc(50% - 40px)
		transform translateY(-50%)
		left 40px
		.large-hello-text
			color #0043FE
			font-size 10em
			line-height 100%
		.introduction-text
			color #b8becc
			font-size 2em
			margin 10px 0 0 10px
			line-height 130%
			font-weight 300
			b
				font-weight 300
				color #fff
				position relative
		.view-projects-button
			margin-top 25px
			height 50px
			border 1px solid #1B213A
			width 230px
			border-radius 1000px
			display flex
			justify-content center
			align-items center
			cursor pointer
			transition border-color .3s
			&:hover
				border-color #20284c
				.icon
					transform translateX(5px)
			p
				color #fff
				font-size 1.05em
				letter-spacing .5px
				font-weight 600
			.icon
				width 30px
				height 30px
				margin-left 10px
				transition transform .3s